/* main div */
#container {
  padding: 1em;
}

/* space list items off eachother */
li {
  margin-bottom: 0.5em;
}

/* pad each delete button more to the left [tasktext button] */
.delete-button {
  margin-left: 1em;
}